.center-pagination
{
      justify-content: center;
}

.result-title a
{
     font-size: 1.5em;
      text-decoration: bold;
     color: "navy" ;

}

.Search {
  position: relative;
  display: flex;
  font-weight: 100;
  font-size: 35px;
  color: #555;
}


.Search-box {
  flex: 1 0 auto;
  margin: 0 12px;
  padding: 8px 20px;
  height: 60px;
  border: 0;
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, .3);
}
.Search-box:focus {
  flex: 1 0 90%;
  margin: 0;
  outline: 0;
}

.Search-label {
  position: absolute;
  top: 14px;
  right: 30px;
  font-size: 35px;
}

.Search-box:focus + .Search-label {
  transform: translateX(12px);
}
